<!DOCTYPE html>
<html lang="en">
   
<!-- Mirrored from freshcart.codescandy.com/dashboard/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 13 Apr 2024 09:13:20 GMT -->
<head>
      <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
      <title>Products Dashboard eCommerce HTML Template - FreshCart</title>
      <!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
<link href="../assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
<link href="../assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="../assets/css/theme.min.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
      dataLayer.push(arguments);
   }
   gtag("js", new Date());

   gtag("config", "G-M8S4MT3EYG");
</script>
 <script type="text/javascript">
   (function (c, l, a, r, i, t, y) {
      c[a] =
         c[a] ||
         function () {
            (c[a].q = c[a].q || []).push(arguments);
         };
      t = l.createElement(r);
      t.async = 1;
      t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
   })(window, document, "clarity", "script", "kuc8w5o9nt");
</script>

   </head>

   <body>
      <!-- main wrapper-->

      <!-- navbar -->
	  <nav class="navbar navbar-expand-lg navbar-glass">
		<div class="container-fluid">
			<div class="d-flex justify-content-between align-items-center w-100">
				<div class="d-flex align-items-center">
					<a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
							<path
								d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
							/>
						</svg>
					</a>
				</div>
				<div>
					<ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
						<li class="dropdown ms-4">
							<a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle" />
							</a>
	
							<div class="dropdown-menu dropdown-menu-end p-0">
								<div class="lh-1 px-5 py-4 border-bottom">
									<h5 class="mb-1 h6">Tunda Admin</h5>
									<small>admindemo@email.com</small>
								</div>
	
								<ul class="list-unstyled px-2 py-3">
									<li>
										<a class="dropdown-item" href="/">Home</a>
									</li>
									<li>
										<a class="dropdown-item" href="/adminprofile">Profile</a>
									</li>
								</ul>
								<div class="border-top px-5 py-3">
									<a href="/logout">Log Out</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

      <div class="main-wrapper">
         <!-- navbar vertical -->
         <!-- navbar -->
		 <nav class="navbar-vertical-nav d-none d-xl-block">
			<div class="navbar-vertical">
				<div class="px-4 py-5">
					<a href="/" class="navbar-brand">
						<img src="../assets/images/logo/freshcart-logo.svg" alt="" />
					</a>
				</div>
				<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
					<ul class="navbar-nav flex-column" id="sideNavbar">
						<li class="nav-item">
							<a class="nav-link  active " href="/admin">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-house"></i></span>
									<span class="nav-link-text">Dashboard</span>
								</div>
							</a>
						</li>
						<li class="nav-item mt-6 mb-3">
							<span class="nav-label">Store Managements</span>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/products">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
									<span class="nav-link-text">Products</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/categories">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
									<span class="nav-link-text">Categories</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link  collapsed "
								href="#"
								data-bs-toggle="collapse"
								data-bs-target="#navCategoriesOrders"
								aria-expanded="false"
								aria-controls="navCategoriesOrders"
							>
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
									<span class="nav-link-text">Orders</span>
								</div>
							</a>
							<div id="navCategoriesOrders" class="collapse " data-bs-parent="#sideNavbar">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link " href="/orders">All</a>
									</li>
								</ul>
							</div>
						</li>
		
						<li class="nav-item">
							<a class="nav-link " href="/vendors">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
									<span class="nav-link-text">Sellers / Vendors</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/customers">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-people"></i></span>
									<span class="nav-link-text">Customers</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
			<div class="navbar-vertical">
				<div class="px-4 py-5 d-flex justify-content-between align-items-center">
					<a href="../index-2.html" class="navbar-brand">
						<img src="../assets/images/logo/freshcart-logo.svg" alt="" />
					</a>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
					<ul class="navbar-nav flex-column">
						<li class="nav-item">
							<a class="nav-link  active " href="index.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-house"></i></span>
									<span>Dashboard</span>
								</div>
							</a>
						</li>
						<li class="nav-item mt-6 mb-3">
							<span class="nav-label">Store Managements</span>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="products.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
									<span class="nav-link-text">Products</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="categories.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
									<span class="nav-link-text">Categories</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
									<span class="nav-link-text">Orders</span>
								</div>
							</a>
							<div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link " href="order-list.html">List</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link " href="order-single.html">Single</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="vendor-grid.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
									<span class="nav-link-text">Sellers / Vendors</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="customers.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-people"></i></span>
									<span class="nav-link-text">Customers</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="reviews.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-star"></i></span>
									<span class="nav-link-text">Reviews</span>
								</div>
							</a>
						</li>
						<li class="nav-item mt-6 mb-3">
							<span class="nav-label">Site Settings</span>
							<span class="badge bg-light-info text-dark-info">Coming Soon</span>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#!">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-newspaper"></i></span>
									<span class="nav-link-text">Blog</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-images"></i></span>
									<span class="nav-link-text">Media</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#!">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-gear"></i></span>
									<span class="nav-link-text">Store Settings</span>
								</div>
							</a>
						</li>
						<li class="nav-item mt-6 mb-3">
							<span class="nav-label">Support</span>
							<span class="badge bg-light-info text-dark-info">Coming Soon</span>
						</li>
					
					</ul>
				</div>
			</div>
		</nav>
         <!-- main -->
         <main class="main-content-wrapper">
            <div class="container">
               <div class="row mb-8">
                  <div class="col-md-12">
                     <!-- page header -->
                     <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                           <h2>Products</h2>
                           <!-- breacrumb -->
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">Products</li>
                              </ol>
                           </nav>
                        </div>
                        <!-- button -->
                        <div>
                           <a href="/addproduct" class="btn btn-primary">Add Product</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
               <div class="row">
                  <div class="col-xl-12 col-12 mb-5">
                     <!-- card -->
                     <div class="card h-100 card-lg">
                       
                        <!-- card body -->
                        <div class="card-body p-0">
                           <!-- table -->
                           <div class="table-responsive ">
                              <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                 <thead class="bg-light">
                                    <tr>
                                       <th>Image</th>
                                       <th>Proudct Name</th>
                                       <th>Category</th>
                                       <th>Status</th>
                                       <th>Price</th>
                                       <th>Create at</th>
                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% if (products) { %>
                                     <% products.forEach(item => { %>
                                       <tr>
                                         
                                          <td>
                                             <a href="#!"><img src="<%= item.image %>" alt="" class="icon-shape icon-md" /></a>
                                          </td>
                                          <td><a href="#" class="text-reset"><%= item.title %></a></td>
                                          <td><%= item.category %></td>
   
                                          <td>
                                             <span class="badge bg-light-primary text-dark-primary"><%= item.status %></span>
                                          </td>
                                          <td><%= item.saleprice %></td>
                                          <td><%= item.date.toLocaleDateString()%></td>
                                          <td>
                                             <div class="dropdown">
                                                <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                   <i class="feather-icon icon-more-vertical fs-5"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                   <li>
                                                      <a class="dropdown-item" href="/admin/products/delete?id=<%= item._id %>">
                                                         <i class="bi bi-trash me-3"></i>
                                                         Delete
                                                      </a>
                                                   </li>
                                                   <li>
                                                      <a class="dropdown-item" href="/admin/products/put?id=<%= item._id %>">
                                                         <i class="bi bi-pencil-square me-3"></i>
                                                         Edit
                                                      </a>
                                                   </li>
                                                </ul>
                                             </div>
                                          </td>
                                       </tr>
                                     <% }) %>
                                    <% } %>
                                   
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>

      <!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>

   </body>

<!-- Mirrored from freshcart.codescandy.com/dashboard/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 13 Apr 2024 09:13:21 GMT -->
</html>
